$main-width: 1280px;
$aside-width: 260px;
$default-shadow: 1px 1px 5px -2px #74839d;
$default-border: 1px solid #b4b4b4;
* {
    padding: 0;
    margin: 0;
    font-family: "Microsoft Yahei", "Segoe UI", Arial, Helvetica, "Microsoft Jhenghei", "Hiragino Sans GB", "WenQuanYi Zen Hei", SimHei, STHeiti, "WenQuanYi Micro Hei", sans-serif;
}

table {
    border-collapse: collapse;
    tr td:hover {
        background: #ededf0;
    }
}

summary {
    cursor: pointer;
    &::-webkit-details-marker {
        display: none;
    }
}

a {
    text-decoration: none;
    :hover {
        text-decoration: underline;
    }
}

ul {
    list-style: none;
}

html {
    background: #fff;
}

.clear {
    clear: both;
}

.container {
    width: $main-width;
    margin: auto;
    overflow: hidden;
}

.bottom-block {
    height: 358px;
    margin: 10px 10px 0 0;
    background: #fff;
    float: left;
    border: $default-border;
    border-radius: 6px;
    h2 {
        color: #555;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        font-weight: normal;
        background: #f4f5f6;
        text-indent: 20px;
        border-bottom: 1px solid #ccc;
        border-radius: 6px 6px 0 0;
    }
}

header {
    $header-height: 56px;
    height: $header-height;
    background: #1e89bf;
    .container {
        height: $header-height;
        background: url(./images/logo.png) no-repeat 50px center;
        line-height: $header-height;
    }
    input {
        $height: 30px;
        margin-left: 800px;
        width: 312px;
        height: $height;
        border-radius: $height / 2;
        background: url(./images/search.png) 20px center no-repeat #fff;
        text-indent: 48px;
    }
    #login {
        margin-left: 22px;
        color: #fff;
        background: url(./images/login.png) no-repeat 0 center;
        padding-left: 1.5em;
        font-size: 14px;
    }
}

aside {
    $regular-color: #697a8f;
    $active-color: #fff;
    width: $aside-width;
    float: left;
    background: #2a2f3d;
    margin-bottom: -6666px;
    padding-bottom: 6666px;
    color: $regular-color;
    #icon-border {
        display: block;
        float: left;
        margin: 18px 0 32px 46px;
        width: 56px;
        height: 56px;
        border: 2px solid $regular-color;
        border-radius: 50%;
    }
    #icon {
        width: 46px;
        height: 46px;
        margin: 5px;
        border-radius: 50%;
    }
    h1 {
        display: block;
        float: left;
        margin: 18px 0 32px 18px;
        height: 60px;
        line-height: 60px;
        font-weight: normal;
        font-size: 14px;
    }
    .info {
        float: left;
        width: $aside-width / 2 - 1;
        height: 30px;
        margin-bottom: 26px;
        span {
            text-align: center;
            font-size: 14px;
            height: 14px;
            line-height: 14px;
            display: block;
        }
    }
    #first-info {
        border-right: 2px solid #313646;
    }
    #menu {
        font-size: 12px;
        details {
            &[open],
            &:hover {
                background: #383e4e;
                > summary {
                    color: #fff;
                }
            }
        }
        .menu-1 {
            padding-left: 46px;
            > summary {
                height: 48px;
                line-height: 48px;
                text-indent: 18px;
                &.chart {
                    background: url(./images/chart.png) no-repeat 0 center;
                }
                &.star {
                    background: url(./images/star.png) no-repeat 0 center;
                }
                &.share {
                    background: url(./images/share.png) no-repeat 0 center;
                }
                &.gallary {
                    background: url(./images/star.png) no-repeat 0 center;
                }
                &.record {
                    background: url(./images/star.png) no-repeat 0 center;
                }
                &.profile {
                    background: url(./images/profile.png) no-repeat 0 center;
                }
            }
        }
        .menu-2 {
            margin-left: 24px;
            > summary {
                background: url(./images/arrow.png) no-repeat 1em center;
                text-indent: 28px;
                height: 30px;
                line-height: 30px;
                &:before {
                    content: "****";
                    color: transparent;
                    background: url(./images/folder.png) no-repeat center;
                }
            }
            &[open] {
                > summary {
                    background: url(./images/arrow-active.png) no-repeat 1em center;
                    &:before {
                        background: url(./images/folder-active.png) no-repeat center;
                    }
                }
            }
        }
        .menu-3 {
            cursor: pointer;
            margin-left: 48px;
            height: 30px;
            line-height: 30px;
            &:before {
                content: "****";
                color: transparent;
                background: url(./images/file.png) no-repeat center;
            }
            &.active {
                color: #fff;
                &:before {
                    background: url(./images/file-active.png) no-repeat center;
                }
            }
        }
    }
}

article {
    background: #eee;
    float: right;
    width: $main-width - $aside-width;
    nav {
        height: 30px;
        line-height: 30px;
        background: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        padding-left: 30px;
        color: #b4b4b4;
        a {
            color: #b4b4b4;
            margin: 0 10px;
            &.current {
                color: #6898c2;
            }
        }
    }
    $inner-width: 890px;
    .inner-container {
        width: $inner-width;
        margin: auto;
    }
    .row {
        width: $inner-width;
    }
    #query-div {
        height: 86px;
        margin-top: 20px;
        background: #fff;
        border: $default-border;
        box-shadow: $default-shadow;
        // padding: 16px 36px;
        .query-block {
            float: left;
            height: 60px;
            margin: 16px 0 0 36px;
            line-height: 30px;
            font-size: 14px;
            color: #b4b4b4;
        }
        .exchange {
            margin-left: 0;
            width: 27px;
            background: url(./images/exchange.png) no-repeat 0 center;
            cursor: pointer;
            &:hover {
                background: url(./images/exchange-active.png) no-repeat 0 center;
            }
        }
        select {
            height: 25px;
            appearance: none;
            background: url(./images/arrow-small.png) no-repeat center right;
            text-indent: 6px;
            border-radius: 2px;
            margin: auto 0 auto 16px;
            &[name="buyer"],
            &[name="seller"],
            &[name="deal-num"] {
                width: 128px;
            }
            &[name="query-option"],
            &[name="people"],
            &[name="time-taken"] {
                width: 70px;
            }
            &.active {
                background: url(./images/arrow-small-active.png) no-repeat center right;
            }
        }
        input[type="date"] {
            width: 124px;
            margin: auto 0 auto 16px;
        }
        input[type="submit"] {
            width: 50px;
            height: 25px;
            background: #378ac1;
            border: 0;
            border-radius: 2px;
            color: #fff;
            cursor: pointer;
            margin-top: 18px;
        }
    }
    #select-order {
        margin-top: 10px;
        #prev,
        #next,
        .orders,
        #history-query {
            cursor: pointer;
            height: 64px;
            float: left;
            border: $default-border;
            background: #fff;
            box-shadow: $default-shadow;
            margin-right: 5px;
            text-align: center;
        }
        #prev,
        #next {
            width: 30px;
        }
        #prev {
            background: url(./images/left-arrow.png) no-repeat center #fff;
        }
        #next {
            background: url(./images/right-arrow.png) no-repeat center #fff;
        }
        #history-query {
            width: 110px;
            margin: 0 0 0 2px;
            line-height: 64px;
            font-size: 12px;
            text-indent: 36px;
            background: url(./images/calander.png) no-repeat 12px center #fff;
        }
        .orders {
            width: 110px;
            .time {
                color: #b4b4b4;
                margin-top: 15px;
                font-size: 12px;
            }
            .price {
                color: #ed7016;
                font-weight: bold;
                font-size: 16px;
                &:first-letter {
                    color: #b4b4b4;
                    font-size: 12px;
                    font-weight: normal;
                }
            }
            &.active,
            &:hover {
                border-top: 4px solid #4288c9;
                height: 61px;
                .time {
                    margin-top: 12px;
                }
            }
        }
    }
    #static {
        margin-top: 22px;
        h2 {
            font-size: 14px;
            color: #555;
        }
        ul li {
            margin-top: 6px;
            float: left;
            border: 1px solid #d3d3d3;
            border-left: 4px solid #d3d3d3;
            background: #fff;
            width: 195px;
            height: 70px;
            margin-right: 30px;
            span {
                display: block;
                margin-left: 8px;
            }
            .num {
                margin-top: 14px;
                font-size: 14px;
            }
            .text {
                font-size: 12px;
                color: #888;
                margin-top: 8px;
            }
            .color-block {
                float: right;
                width: 60px;
                height: 46px;
                background: #d3d3d3;
                position: relative;
                top: -46px;
                margin-right: 15px;
            }
            &.last {
                margin-right: 0;
            }
            &.green {
                border-left: 4px solid #43b29e;
                .color-block {
                    background: #43b29e;
                }
            }
            &.blue {
                border-left: 4px solid #378ac1;
                .color-block {
                    background: #378ac1;
                }
            }
            &.orange {
                border-left: 4px solid #d04a37;
                .color-block {
                    background: #d04a37;
                }
            }
            &.yellow {
                border-left: 4px solid #e2cd47;
                .color-block {
                    background: #e2cd47;
                }
            }
        }
    }
    #my-table {
        width: 528px;
        ul {
            margin-left: 18px;
            li {
                font-size: 14px;
                float: left;
                margin-top: 12px;
                height: 26px;
                line-height: 24px;
                width: 83px;
                margin-right: 4px;
                background: #ededf0;
                border: 1px solid #ededf0;
                border-bottom: $default-border;
                border-radius: 6px 6px 0 0;
                text-align: center;
                color: #535353;
                cursor: pointer;
                &.active,
                &:hover {
                    background: #fff;
                    border: $default-border;
                    border-bottom: 1px solid #fff;
                }
            }
        }
        #table-border {
            width: 490px;
            height: 250px;
            margin: 0 auto;
            border: $default-border;
            border-radius: 0 6px 6px 6px;
            margin-top: -1px;
        }
        table {
            margin: 28px auto 0 auto;
            tr {
                td {
                    width: 100px;
                    height: 30px;
                    border: $default-border;
                    margin: 0;
                    font-size: 12px;
                    font-family: simsun;
                    color: #535353;
                    text-indent: 16px;
                    &:hover {
                        background: #ededf0;
                    }
                }
            }
        }
    }
    #description {
        margin-right: 0;
        width: 348px;
        table {
            width: 280px;
            margin: 20px auto 20px auto;
            border: 0;
            tr {
                td {
                    vertical-align: top;
                    border: $default-border;
                    &.title,
                    &.price,
                    &.leader {
                        height: 44px;
                    }
                    &.price {
                        width: 96px;
                        border-left: 0;
                    }
                    &.leader {
                        border-right: 0;
                    }
                    &.detail {
                        height: 146px;
                        border-left: 0;
                        border-right: 0;
                    }
                    &.title {
                        border-top: 0;
                        border-left: 0;
                        border-right: 0;
                    }
                    span {
                        margin-left: 4px;
                        display: block;
                        &.item-head {
                            font-size: 12px;
                            margin-top: 4px;
                            color: #c2c2c2;
                        }
                        &.item-content {
                            font-size: 14px;
                            color: #545454;
                        }
                    }
                }
            }
        }
        form {
            display: block;
            width: 280px;
            margin: auto;
            span {
                display: inline-block;
                margin-left: 4px;
                font-size: 14px;
                color: #c2c2c2;
            }
            input[type="submit"] {
                float: right;
                width: 50px;
                height: 25px;
                background: #378ac1;
                border: 0;
                border-radius: 2px;
                color: #fff;
                cursor: pointer;
            }
        }
    }
    #calander {
        width: 348px;
        margin-bottom: 154px;
        display: block;
        .select-container {
            width: 320px;
            height: 24px;
            line-height: 24px;
            display: block;
            margin: 10px auto 0 auto;
            select {
                display: inline-block;
                font-size: 12px;
                height: 24px;
                &#cal-year {
                    width: 65px;
                }
                &#cal-month {
                    width: 85px;
                }
                &#cal-tag {
                    width: 75px;
                }
            }
            button {
                height: 24px;
                width: 65px;
                background: #fff;
                box-shadow: none;
                border: $default-border;
                position: relative;
                top: 1px;
                border-radius: 2px;
                cursor: pointer;
            }
        }
        table {
            margin: 10px auto 0 auto;
            tr {
                th {
                    font-size: 14px;
                    height: 30px;
                    border-top: 2px solid #b2cfed;
                    border-bottom: $default-border;
                }
                td {
                    width: 42px;
                    font-size: 12px;
                    margin: 0 1px 1px 0;
                    font-weight: bold;
                    height: 40px;
                    span {
                        display: block;
                        text-align: center;
                    }
                    &.hoilday .yang,
                    &.festivel .yin {
                        color: #cc3025;
                    }
                    &.marked {
                        height: 40px;
                        width: 40px;
                        border: 1px solid #f8d165;
                    }
                }
            }
        }
    }
    #rank {
        width: 528px;
        margin-bottom: 154px;
        margin-right: 0;
        table {
            margin: 10px auto 0 auto;
            font-size: 12px;
            tr {
                $bar-width: 165px;
                $max-num: 60000000;
                cursor: pointer;
                &:hover {
                    background: #ededf0;
                }
                th {
                    border: $default-border;
                    height: 27px;
                    &.num {
                        width: 68px;
                    }
                    &.brand {
                        width: 90px;
                    }
                    &.index {
                        width: 290px;
                    }
                }
                td {
                    height: 24px;
                    text-align: center;
                    border: $default-border;
                    .bar-bg {
                        display: inline-block;
                        width: 165px;
                        height: 4px;
                        background: #ddd;
                        position: relative;
                        top: -3px;
                        margin-left: 20px;
                        .bar {
                        	height: 4px;
                        	width: 50px;
                        	background: #7fcaef;
                        	&.first {
                        		background: #ed6e52;
                        	}
                            &.second {
                                background: #ef8150;
                            }
                            &.third {
                                background: #f19e4f;
                            }
                        }
                    }
                }
                &.last td {
                	border-bottom: 0;
                }
                &.volkswagen td .bar-bg .bar {
                    width: $bar-width * 48912001 / $max-num;
                }
                &.toyota td .bar-bg .bar {
                    width: $bar-width * 29307333 / $max-num;
                }
                &.audi td .bar-bg .bar {
                    width: $bar-width * 23139070 / $max-num;
                }
                &.honda td .bar-bg .bar {
                    width: $bar-width * 22885564 / $max-num;
                }
                &.ford td .bar-bg .bar {
                    width: $bar-width * 22324792 / $max-num;
                }
                &.bmw td .bar-bg .bar {
                    width: $bar-width * 21444077 / $max-num;
                }
                &.hyundai td .bar-bg .bar {
                    width: $bar-width * 20114969 / $max-num;
                }
                &.kia td .bar-bg .bar {
                    width: $bar-width * 19251680 / $max-num;
                }
                &.benz td .bar-bg .bar {
                    width: $bar-width * 19172837 / $max-num;
                }
                &.buick td .bar-bg .bar {
                    width: $bar-width * 18544027 / $max-num;
                }
            }
        }
    }
}
